.sectionForm {
  padding: 48px 0;
  background-color: var(--cl-extra-accent);
  margin-bottom: 78px;
}

.formWrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 24px;
}
