@import '../../scss/utilities/breakpoint-mixin.scss';

/* Label */
.label {
  display: inline-block;
  color: var(--cl-gray);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.21;
  margin-bottom: 8px;
  margin-left: 20px;
}

/* Input field*/
.input {
  color: var(--cl-light-gray-2);
  border-radius: 9px;
  width: 100%;
  border: 1px solid var(--cl-lighter-gray);
  transition: border var(--animat);
  padding: 20px 24px;
  outline: none;
  appearance: none;
}

.input:valid {
  color: var(--cl-main);
}

.input,
.input::placeholder {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.21;

  @include breakpoint('tablet-and-up') {
    font-size: 20px;
  }
}

.input::placeholder {
  color: var(--cl-light-gray-2);
}

/* Input field focus */
.input:focus {
  border: 1px solid var(--cl-lighter-gray);
  color: var(--cl-main);
}

/* Error */

.input.errorInput,
.phoneInput.errorInput {
  border-color: var(--cl-lighter-gray);
  color: var(--cl-error);
}

.error-container {
  position: relative;
}

.error {
  opacity: 1;
  visibility: visible;
  position: absolute;
  right: 44px;
  margin-top: 4px;
  color: var(--cl-accent);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: -1px;
  white-space: normal;
  transition: opacity var(--animat);
}

.textarea {
  resize: none;
}
