@import '../../scss/utilities/breakpoint-mixin.scss';

.button {
  padding: 24px 32px;

  cursor: pointer;

  border: none;
  border-radius: 24px;

  font-size: 28px;
  font-weight: 500;
  line-height: 0.79;
  text-transform: uppercase;
  letter-spacing: -1px;

  outline: none;
  width: 100%;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  @include breakpoint('tablet-and-up') {
    font-size: 40px;
    width: 443px;
  }
}

.primary {
  background-color: var(--cl-accent);
  color: var(--cl-white);
  transition: background-color var(--animat);
}

.primary:disabled {
  background-color: var(--cl-accent-opacity);
  cursor: not-allowed;
}
