@import '../../scss/utilities/breakpoint-mixin.scss';

.heroOverlay {
  margin: -96px auto 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url(../../../public/images/background.png);
  width: 100%;
  height: 494px;
  position: relative;

  @include breakpoint('mobile') {
    min-width: 360px;
  }

  @include breakpoint('tablet') {
    height: 698px;
    min-width: 768px;
  }

  @include breakpoint('desktop') {
    height: 800px;
    margin: -106px auto 0;
    min-width: 1440px;
  }

  &::before {
    content: '';
    position: absolute;
    width: 175px;
    height: 177px;
    top: 94px;
    left: -69px;
    background-image: url(../../../public/images/balloons1.png);
    background-size: cover;
    background-position: center;
    z-index: 1;
      animation: balloonAnimation 4s ease-in-out infinite;

    @include breakpoint('tablet') {
      width: 307px;
      height: 313px;
      left: -96px;
      transform: rotate(3deg);
    }

    @include breakpoint('desktop') {
      width: 422px;
      height: 442px;
      top: 97px;
      left: 90px;
      transform: rotate(-28deg);
    }
  }

  &::after {
    content: '';
    position: absolute;
    width: 206px;
    height: 199px;
    bottom: 24px;
    left: 197px;
    transform: rotate(12deg);
    background-image: url(../../../public/images/balloons2.png);
    background-size: cover;
    z-index: 1;
      animation: balloonAnimation 4s ease-in-out infinite;

    @include breakpoint('tablet') {
      width: 346px;
      height: 340px;
      bottom: 2px;
      left: 462px;
      transform: rotate(6deg);
    }

    @include breakpoint('desktop') {
      width: 493px;
      height: 497px;
      bottom: 58px;
      left: 878px;
      transform: rotate(-11deg);
    }
  }
}

.heroTitle {
  padding-top: 212px;
  position: relative;
  z-index: 2;

  @include breakpoint('tablet') {
    padding-top: 247px;
  }

  @include breakpoint('desktop') {
    padding-top: 242px;
  }
}

.heroText {
  color: var(--cl-main);
}


@keyframes balloonAnimation {
  0% {
    transform: translateY(0) rotate(0deg);
  }
  50% {
    transform: translateY(-20px) rotate(5deg);
  }
  100% {
    transform: translateY(0) rotate(0deg);
  }
}