@import '../../scss/utilities/breakpoint-mixin.scss';

.container {
  width: 100%;
  margin: 0 auto;

  /*Mobile styles (from 360px to 479.98px)*/
  @include breakpoint('mobile-small') {
    max-width: 480px;
    padding-left: 20px;
    padding-right: 20px;
  }

  /*Mobile styles (from 480px to 767.98px)*/
  @include breakpoint('mobile') {
    max-width: 480px;
    padding-left: 20px;
    padding-right: 20px;
  }

  /*Tablet styles (from 768px to 1279.98px)*/
  @include breakpoint('tablet') {
    max-width: 768px;
    padding-left: 30px;
    padding-right: 30px;
  }

  /*Desktop styles (from 1280px and above)*/
  @include breakpoint('desktop') {
    max-width: 1280px;
    padding-left: 32px;
    padding-right: 32px;
  }
}
