.reviewsTitle {
  margin-bottom: 36px;
}

.body {
  position: relative;
}

.slider_body {
  border-radius: 20px;
  position: relative;
  height: 229px;
}

.content {
  position: absolute;
  left: 16px;
  top: 40px;
  z-index: 1;
}

.heading {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 40px;
}

.reviewsList {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  gap: 24px;
}

.reviewElement {
  background-color: var(--cl-extra-accent);
  padding: 24px;
  border-radius: 24px;
  width: 320px;
  height: 229px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.reviewAuthor {
  display: flex;
  gap: 8px;
  align-items: center;
}

.reviewIcon {
  width: 24px;
  height: 24px;
}

.dots {
  margin-top: 36px;
}
