@import '../../scss/utilities/breakpoint-mixin.scss';

.typography--variant-heading1 {
  font-size: 40px;
  font-weight: 500;
  line-height: 0.78;
  text-align: center;
  letter-spacing: -1px;
  text-transform: uppercase;

  @include breakpoint('tablet') {
    font-size: 64px;
    line-height: 0.9;
  }

  @include breakpoint('desktop') {
    font-size: 88px;
  }
}

.typography--variant-heading2 {
  font-weight: 500;
  font-size: 36px;
  line-height: 0.78;
  letter-spacing: -1px;
  text-align: center;
  text-transform: uppercase;

  @include breakpoint('tablet') {
    font-size: 48px;
  }

  @include breakpoint('desktop') {
    font-size: 56px;
  }
}

.typography--variant-heading3 {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.2;
  letter-spacing: -1px;
  text-transform: uppercase;

  @include breakpoint('tablet') {
    font-size: 40px;
    line-height: 0.79;
  }

  @include breakpoint('desktop') {
    font-size: 40px;
    line-height: 0.95;
  }
}

.typography--variant-heading4 {
  font-weight: 500;
  font-size: 36px;
  line-height: 1.1;
  letter-spacing: -1px;
  text-align: center;
  text-transform: uppercase;

  @include breakpoint('tablet') {
    font-size: 48px;
  }

  @include breakpoint('desktop') {
    font-size: 100px;
    line-height: 0.79;
  }
}

.typography--variant-heading5 {
  font-weight: 500;
  font-size: 28px;
  line-height: 0.79;
  letter-spacing: -1px;
  text-align: center;
  text-transform: uppercase;

  @include breakpoint('tablet') {
    font-size: 24px;
    line-height: 1.2;
  }

  @include breakpoint('desktop') {
    font-size: 40px;
    line-height: 0.95;
  }
}

.typography--variant-subheding1 {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.4;
  letter-spacing: -1px;
  text-align: center;

  @include breakpoint('tablet-and-up') {
    font-size: 24px;
  }
}

.typography--variant-subheding2 {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.45;

  @include breakpoint('tablet-and-up') {
    font-size: 20px;
  }
}

.typography--variant-subheding3 {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.3;
  letter-spacing: -1px;

  @include breakpoint('desktop') {
    font-size: 24px;
    line-height: 1.2;
  }
}

.typography--variant-subheding4 {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.45;
  letter-spacing: -1px;
}
