@import '../../scss/utilities/breakpoint-mixin.scss';

.navList {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 24px;

  @include breakpoint('tablet') {
    margin-top: 42px;
  }

  @include breakpoint('desktop') {
    margin-top: 59px;
  }
}

.navItem {
  font-family: var(anzeigen_grotesk);
  text-transform: uppercase;
  color: var(--cl-main);
  margin-top: 24px;

  font-size: 24px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: -0.01em;
  text-align: center;

  @include breakpoint('tablet') {
    font-size: 40px;
    font-weight: 500;
    line-height: 32px;

    margin-top: 36px;
  }

  @include breakpoint('desktop') {
    font-size: 64px;
    font-weight: 500;
    line-height: 51px;

    margin-top: 48px;
  }
}

.navItem:hover,
.navItem:focus {
  color: var(--cl-accent);
}
