@import '../../scss/utilities/breakpoint-mixin.scss';

.header {
  position: relative;
  background-color: var(--cl-white);
}

.header.fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.headerContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 96px;

  @include breakpoint('desktop') {
    min-height: 106px;
  }
}

.logo {
  margin-right: auto;
  position: relative;
  z-index: 12;
}

.logo img {
  object-fit: contain;
}

.burgerMenu {
  position: fixed;
  width: 100%;
  height: 100%;
  overflow: auto;
  top: 0;
  left: 0;
  z-index: 11;
  display: flex;
  flex-direction: column;
  background-color: var(--cl-white);
  padding-top: 112px;
  padding-bottom: 120px;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity var(--animat-2), visibility var(--animat-2);

  &::before {
    content: '';
    position: fixed;
    width: 100%;
    min-height: 96px;
    top: 0;
    left: 0;
    background-color: var(--cl-white);
    z-index: 999;
    overflow: hidden;
  }
}

.burgerMenu.isOpen {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}

.menuIcon,
.closeIcon {
  display: flex;
  align-items: center;
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  position: relative;
  z-index: 5;
  height: 24px;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 500;
  letter-spacing: -1px;
  color: var(--cl-main);
  gap: 5px;
  transition: color var(--animat);
}

.closeIcon {
  width: 24px;
  height: 24px;
  cursor: pointer;
  overflow: hidden;
  z-index: 15;
}

.closeIcon.fixed {
  position: fixed;
  top: 32px;
  right: 44px;
  z-index: 1000;

  @include breakpoint('tablet') {
    top: 37px;
    right: 54px;
  }

  @include breakpoint('desktop') {
    top: 37px;
    right: 112px;
  }
}

.mobileMenu {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  margin: 0;
  margin-top: 62px;
}

.headerLink {
  cursor: pointer;
}

.headerMenuLink {
  width: 24px;
  height: 24px;
  transition: color var(--animat);

  @include breakpoint('tablet') {
    width: 36px;
    height: 36px;
  }

  @include breakpoint('desktop') {
    width: 48px;
    height: 48px;
  }
}

.headerMenuIcon:hover,
.headerMenuLink:hover,
.headerMenuIcon:focus,
.headerMenuLink:focus {
  fill: var(--cl-accent);
}

.menuButton {
  position: fixed;
  right: 30px;
  top: 34px;

  display: inline-block;
  width: 24px;
  height: 24px;

  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  background-size: contain;
  z-index: 999;
  cursor: pointer;

  @include breakpoint('tablet') {
    width: 36px;
    height: 36px;
  }

  @include breakpoint('desktop') {
    width: 48px;
    height: 48px;
  }
}
