@import '../../scss/utilities/breakpoint-mixin.scss';

.addressTitle {
  margin-bottom: 36px;
}

.addressDescription {
  margin-bottom: 24px;
}

.addressLink {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.21;
  text-align: center;
  letter-spacing: -1px;
  color: var(--cl-extra-text);

  @include breakpoint('tablet-and-up') {
    font-size: 24px;
  }
}

.addressItem {
  display: flex;
  align-items: center;
  gap: 8px;
}

.addressList {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
}
